@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="Index" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Url"></label>
        <span asp-validation-for="Url"></span>
        <input asp-for="Url" type="text" class="form-control-lg" />
    </div>
</form>